<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeStock | Scanner</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/scan.css') }}">
</head>

<body>

  <main class="scanner-card">
    <h1>Scanner QR Code</h1>
    <p>Aponte a câmera para a etiqueta do material</p>

    <div id="reader"></div>

    <div class="status" id="statusScanner">
      Aguardando leitura...
    </div>

    <a class="btn-voltar" href="{{ url_for('home') }}">
      Voltar para Home
    </a>
  </main>

  <script src="https://unpkg.com/html5-qrcode"></script>
  <script src="{{ url_for('static', filename='js/scan.js') }}"></script>

</body>
</html>